<ns1:device xmlns:ns1="networkdevice.rest.mgmt.acs.nm.cisco.com">
        <description>{{ config.description }}</description>
        <name>{{config.name}}</name>
        {%- for item in config.groups %}
        <groupInfo>
            <groupName>{{item.name}}</groupName>
            <groupType>{{item.type}}</groupType>
        </groupInfo>
        {%- endfor %}
        <subnets>
            <ipAddress>{{config.ip}}</ipAddress>
            <netMask>{{config.mask}}</netMask>
        </subnets>
        <tacacsConnection>
            <legacyTACACS>true</legacyTACACS>
            <sharedSecret>{{config.secret}}</sharedSecret>
            <singleConnect>false</singleConnect>
        </tacacsConnection>
</ns1:device>
