<ns1:deviceGroup xmlns:ns1="networkdevice.rest.mgmt.acs.nm.cisco.com">
        <description>{{config.description}}</description>
        <name>{{config.name}}</name>
        <groupType>{{config.group_type}}</groupType>
</ns1:deviceGroup>
